.tasks {
  &__title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #64C4ED;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 20px;

    &:hover {
      img {
        opacity: 0.2;
      }
    }

    img {
      opacity: 0;
      cursor: pointer;
      margin-left: 15px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
  &__form{
    margin-top: 20px;
    &-block{
      .button{
        margin-top: 20px;
        margin-right: 10px;
      }
    }
    &-new{
      display: flex;
      align-items: center;
      cursor: pointer;
      opacity: 0.4;
      &:hover{
        opacity: 0.8;
        transition: opacity 0.15s ease-in-out;
      }
      img {
        width: 16px;
        height: 16px;
        margin-left: 4px;
      }
      span{
        font-size: 16px;
        margin-left: 20px;
      }
    }
  }
  &__items{
    margin-top: 30px;
    h2{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      color: #C9D1D3;
      position: absolute;
      left: 50%;
      top: 50%;
    }
    &-row{
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      input{
        margin-left: 15px;
        border: 0;
        font-size: 16px;
        width: 100%;
      }
    }
  }

  .checkbox {
    input {
      display: none;
    }
    svg {
      transition: opacity 0.15s ease-in-out;
      path {
        stroke: #F2F2F2;
      }
    }

    input:checked + label {
      background-color: #4DD599;
      border-color: #4DD599;

      svg {
        opacity: 1;

        path {
          stroke: #FFFFFF;
        }
      }
    }

    &:hover {
      label {
        border-color: #F2F2F2;
        background-color: #F2F2F2;

        svg {
          opacity: 1;

          path {
            stroke: #B2B2B2;
          }
        }
      }
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: 30px;
      border: 2px solid #E8E8E8;
      cursor: pointer;
      transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;


      svg {
        opacity: 0;
      }
    }
  }
}